<!--<h1>Reactive</h1>-->
<form [formGroup]="form" errorTailor>
  <div class="form-group">
    <input class="form-control" formControlName="name" placeholder="Name" />
  </div>

  <div class="form-check form-group">
    <input class="form-check-input" type="checkbox" formControlName="terms" id="check" [controlErrorAnchor]="anchor" />
    <label class="form-check-label" for="check">
      I agree to the terms and conditions
    </label>
    <ng-template controlErrorAnchor #anchor="controlErrorAnchor"></ng-template>
  </div>

  <section formGroupName="address">
    <div class="form-group">
      <input class="form-control" formControlName="city" placeholder="City" />
    </div>

    <div class="form-group">
      <input class="form-control" formControlName="country" placeholder="Country" />
    </div>
  </section>

  <div class="form-group">
    <select formControlName="animal" class="form-control">
      <option *ngFor="let option of options; index as index" [ngValue]="option">
        {{ option.label }}
      </option>
    </select>
  </div>

  <div class="text-right">
    <button class="btn btn-success">Submit</button>
  </div>
</form>

<h1>Template</h1>

<form #f="ngForm" errorTailor>
  <div class="form-group">
    <input class="form-control" ngModel="model" required name="model" />
  </div>
  <button class="btn btn-success">Submit</button>
  {{ f.value | json }}
</form>

<h1>Custom Template</h1>

<form #f="ngForm" errorTailor>
  <ng-template let-error let-text="text" #tpl> {{ error | json }} {{ text }} </ng-template>

  <div class="form-group">
    <input class="form-control" ngModel="name" required name="name" [controlErrorsTpl]="tpl" />
  </div>
  <button class="btn btn-success">Submit</button>
</form>
