body {
  margin-top: 30px;
}

.control-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.on-submit.form-submitted,
form:not(.on-submit) {
  .ng-touched.ng-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
  }
}
